<style>h2 {color: darkblue;}</style>
<p style="margin-top: 10px;color:#105cb6;font-style: italic; font-size: large">PROJECT GUTENBERG:
    <i>Group 9</i>
</p>

<div>
    <div class="row well">
        <form class="navbar-form navbar-left" role="form" ng-submit="searchBooksByGeolocation()">
            <div class="form-group">
                <label>Select database:</label>
                <!--<input type="text" style="width:10em;" placeholder="database" name="db" class="form-control" ng-model="db" required>-->
                <select id ="select_db_dropdown" name="db" ng-model="db" required>
                    <option value ="stub">stub</option>
                    <option value ="mongodb">mongodb</option>
                    <option value ="neo4j">neo4j</option>
                    <option value ="mysql">mysql</option>
                </select>
                <br><br>
                <label>Search Books that mentioned the City given with Geolocation:</label>
                <input id= "lat" type="text" style="width:10em;" placeholder="lat coordinate " name="lat" class="form-control" ng-model="toSearch">
                <input id= "lon" type="text" style="width:10em;" placeholder="long coordinate " name="lon" class="form-control" ng-model="toSearch2">
            </div>
            </br>
            <i>Example: Copenhagen 55.67594 (lat), 12.56553 (lon)</i>
            <br><br>
            <button id= "submit" type="submit" class="btn btn-success">Search</button>
        </form>
    </div>

    <div ng-controller="View4Ctrl">
        <leaflet markers="markers" width="100%" height="480px"></leaflet>
    </div>
    <div class="row">
        <table id="summarytable" class="table" ng-if="books.length > 0">
            <thead>
            <th>BookTitle ({{books.length}})</th>
            <th>Author full name</th>
            <th>Cities</th>
            </thead>
            <tbody>
                <tr id= "books" ng-repeat="item in books">
                    <td>{{item.bookTitle}}</td><td>{{item.author.fullName}}</td>
                    <td>
                        <table class="table" ng-if="books.length > 0">
                            <thead>
                            <th>City Name ({{item.cities.length}})</th>
                            <th>Coordinates</th>
                            </thead>
                            <tbody>
                                <tr id="cities" ng-repeat="city in item.cities">
                                    <td>{{city.name}}</td><td>{{city.lon + ", " + city.lat}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>

        <div id="error" class="alert alert-warning" ng-if ="err != null">
            <strong>ERROR: </strong> {{err.message}}
        </div>
    </div>
</div>
