    <style>h2 {color: darkblue;}</style>
<p style="margin-top: 10px;color:#105cb6;font-style: italic; font-size: large">PROJECT GUTENBERG: 
    <i>Group 9</i>
</p>

<div>
    <div class="row well">
        <form class="navbar-form navbar-left" role="form" ng-submit="searchByCity()" id="searchByCity_form">
            <div class="form-group" id="select_db_form">
                <label>Select database:</label>
                <!--<input type="text" style="width:10em;" placeholder="database" name="db" class="form-control" ng-model="db" required>-->
                <select name="db" id ="select_db_dropdown" ng-model="db" required>
                    <option value ="stub">stub</option>
                    <option value ="mongodb">mongodb</option>
                    <option value ="neo4j">neo4j</option>
                    <option value ="mysql">mysql</option>
                </select>
                <br><br>
                <label>Search Books by City:</label>
                <input type="text" style="width:10em;" placeholder="city" name="city" class="form-control" ng-model="toSearch" id="city">
                </br><i>Example: Copenhagen</i>
            </div>
            <br><br>
            <button type="submit" class="btn btn-success" id="submit">Search</button>
        </form>
    </div>
    <div class="row">
        <table class="table" ng-if="books.length > 0" id="books">
            <thead>
            <th>Book Title ({{books.length}})</th>
            <th>Author fullname</th>
            </thead>
            <tbody>
                <tr ng-repeat="item in books">
                    <td>{{item.bookTitle}}</td><td>{{item.author.fullName}}</td>
                </tr>
            </tbody>
        </table>

        <div class="alert alert-warning" ng-if ="err != null" id="alert_message_view1">
            <strong>ERROR: </strong> {{err.message}}
        </div>
    </div>
</div>
